@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
}

body {
    background-color: #000;
    height: 100vh;
}

.flex {
    display: flex;

}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

header {
    padding: 20px 4%;
    box-shadow: 0 0 20px #5c5c5c;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header .menu-desktop a:hover {
    color: #fff;
    transform: scale(1.50);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px
}
.btn-abrir-menu img{
    display: none;
}

.menu-mobile{
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}
.menu-mobile nav{
    text-align: right; 
}
.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
}
.menu-mobile nav ul li a:hover{
    background-color: #fff;
    display: block;
    color: #000;
}
.menu-mobile.abrir-menu{
    width: 70%;
}
.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}
.menu-mobile .btn-fechar{
    padding: 20px 4%;
}
.menu-mobile .btn-fechar img{
    height: 20px;
    width: 20px;
}
.overlay-menu{
    background-color: #0000009c;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

section.topo-do-site {
    padding: 40px 4%;
}

section.topo.do.site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.logo_texto {
    height: 250px;
    width: 250px;
}

.logo_comeco {
    height: 50px;
    width: 50px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;

}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    border-radius: 50%;
    box-shadow: 0 0 40px white;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

section.especialidades {
    display: flex;
    padding: 40px 4%;
    flex-direction: column;

}

section.especialidades .flex {
    gap: 60px;
    flex-direction: column;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
    margin-bottom: 50px;
}

.especialidades .especialidades-box {
    color: #fff;
    padding: 40px;
    margin-top: 45px;
    border-radius: 25px;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px #5c5c5c;

}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 20px 0;
}

section.noticias {
    padding: 80px 4%;
    box-shadow: 0 0 25px 10px #ffffff3e;
}

section.noticias .flex {
    justify-content: space-around;
    gap: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #161a1792;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;

}

.overlay:hover {
    opacity: 1;
}

@media screen and (max-width: 1020px) {
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    .menu-desktop {
        display: none;
    }
    .btn-abrir-menu img{
        display: block;
        height: 32px;
    }
    .topo-do-site h1 {
        font-size: 42px;
    }

    .topo-do-site .img-topo-site img {
        position: relative;
        margin-bottom: 50px;
        margin-left: 30px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    section.topo.do.site .flex {
        gap: 40px;
    }

    section.especialidades {
        padding: 40px 8%;

    }
    h2.titulo {
        font-size: 32px;
    }
    section.noticias {
        padding: 80px 8%;
    }
    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }
    section.noticias .flex {
        gap: 50px;
    }
}